<%= simple_form_for @group do |f| %>
	<div class="form-group">
		<%= f.input :title, label: "標題", class: "form-control" %>
		<%= f.input :description, label: "內文", class: "form-control" %>
	</div>

	<%= f.submit "送出", data: { disable_with: "submitting..."} , class: "btn btn-primary" %>

<% end %>