<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<div class="navbar-brand" href="/">Rails 103</div>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<%= link_to "登入", "#" %>
				</li>
			</ul>
		</div>
	</div>
</nav>